In [1]:
import pandas as pd
import numpy as np

## check data

In [2]:
test=pd.read_csv('./test.csv')
tetrainst=pd.read_csv('./test.csv')

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257186 entries, 0 to 257185
Data columns (total 28 columns):
Unnamed: 0                      257186 non-null int64
Unnamed: 0.1                    257186 non-null int64
Unnamed: 0.1.1                  257186 non-null int64
author                          257186 non-null object
hotel_url                       257186 non-null object
property_dict                   257186 non-null object
rating                          257186 non-null float64
text                            257186 non-null object
timeStruct                      257186 non-null object
timeUnix                        257186 non-null int64
service                         257186 non-null float64
cleanliness                     257186 non-null float64
rooms                           257186 non-null float64
value                           257186 non-null float64
location                        257186 non-null float64
bin_service                     257186 non-null float64
bin_cleanliness                 257186 non-null float64
bin_rooms                       257186 non-null float64
bin_value                       257186 non-null float64
bin_location                    257186 non-null float64
bin_rating                      257186 non-null float64
text_filtered_per_sentence      257186 non-null object
aspect_filtered_per_sentence    257186 non-null object
text_filtered_per_relation      257186 non-null object
aspect_filtered_per_relation    257186 non-null object
rel_filtered_per_relation       257186 non-null object
set_kw                          257186 non-null object
id                              257186 non-null int64
dtypes: float64(12), int64(5), object(11)
memory usage: 54.9+ MB

In [5]:
test.head(3)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,author,hotel_url,property_dict,rating,text,timeStruct,timeUnix,...,bin_value,bin_location,bin_rating,text_filtered_per_sentence,aspect_filtered_per_sentence,text_filtered_per_relation,aspect_filtered_per_relation,rel_filtered_per_relation,set_kw,id
0,2017872,43714034,43714034,Azurian,Hotel_Review-g552009-d11668074-Reviews-Premier...,"{'cleanliness': 4.0, 'service': 4.0, 'value': ...",4.0,"Clean, cheap if you book 10 days in advance an...",2018-08-01 00:00:00,1533074400,...,1.0,-1.0,0.0,"['clean , cheap if you book 10 days in advance...","[4, 3, 3]",['only a 15 minute walk to the top of the town...,"[3, 0, 3, 3, 3]","['15 minute walk -(to)-> top', 'many choices ...","{480, 896, 903, 176, 848}",2017872
1,1502188,28885530,28885530,Azurian,Hotel_Review-g1234491-d289570-Reviews-Hotel_Av...,"{'sleep quality': 3.0, 'service': 4.0, 'value'...",3.0,Unfortunately the accommodation doesn't come u...,2018-09-01 00:00:00,1535752800,...,0.0,-1.0,0.0,"[""unfortunately the accommodation does n't com...","[1, 3, 3, 2, 3, 1]","['the free shuttle from the airport', 'the fre...","[3, 3, 3, 2, 3, 3, 3, 1]","['free shuttle -(from)-> airport', 'great -(...","{768, 960, 176, 785, 272, 784, 180}",1502188
2,1527639,29827675,29827675,Azurian,Hotel_Review-g295415-d2044185-Reviews-Villa_Na...,"{'rooms': 5.0, 'cleanliness': 5.0, 'service': ...",5.0,We stayed for 4 nights but really should have ...,2018-01-01 00:00:00,1514761200,...,-1.0,-1.0,1.0,['villa nagara is a lovely place to stay and c...,"[4, 3, 4, 0, 0, 3]","['a lovely place to stay and chill', 'our room...","[3, 4, 4, 0, 0, 3, 3]","['lovely -(amod)-> place', 'lovely -(acomp-n...","{0, 768, 1121, 1120, 960, 775, 973, 976, 977}",1527639

In [13]:
test.iloc[0,4]

'Hotel_Review-g552009-d11668074-Reviews-Premier_Inn_Monmouth_Hotel-Monmouth_Monmouthshire_South_Wales_Wales.html'

In [24]:
test.iloc[0,5]

"{'cleanliness': 4.0, 'service': 4.0, 'value': 5.0}"

In [26]:
test.iloc[0,7]

'Clean, cheap if you book 10 days in advance and comfortable. Only a 15 minute walk to the top of the town with many choices for breakfast and evening meals. A very good base for exploring he local area, with Ross on Wye, Hay on Wye and Brecon a short drive away. No omplaints!.'

In [35]:
test[['service','location','bin_service']]

        service  location  bin_service
0           4.0      -1.0          0.0
1           4.0      -1.0          0.0
2           5.0      -1.0          1.0
3          -1.0       5.0         -1.0
4           4.0      -1.0          0.0
...         ...       ...          ...
257181      5.0       5.0          1.0
257182      5.0       5.0          1.0
257183      5.0       5.0          1.0
257184      5.0       5.0          1.0
257185      5.0       5.0          1.0

[257186 rows x 3 columns]

In [48]:
test['service'].unique()

array([ 4.,  5., -1.,  3.,  2.,  1.])

In [49]:
test['bin_service'].unique()

array([ 0.,  1., -1.])

In [37]:
test['text_filtered_per_sentence'][0]

"['clean , cheap if you book 10 days in advance and comfortable .', 'only a 15 minute walk to the top of the town with many choices for breakfast and evening meals .', 'a very good base for exploring he local area , with ross on wye , hay on wye and brecon a short drive away .']"

In [38]:
test['text'][0]

'Clean, cheap if you book 10 days in advance and comfortable. Only a 15 minute walk to the top of the town with many choices for breakfast and evening meals. A very good base for exploring he local area, with Ross on Wye, Hay on Wye and Brecon a short drive away. No omplaints!.'

In [39]:
test['aspect_filtered_per_sentence'][0]

'[4, 3, 3]'

In [40]:
test['text_filtered_per_relation'][0]

"['only a 15 minute walk to the top of the town with many choices for breakfast and evening meals .', 'many choices for breakfast and evening meals', 'a very good base for exploring he local area , with ross on wye , hay on wye and brecon a short drive away .', 'ross on wye , hay on wye and brecon', 'hay on wye and brecon']"

In [41]:
test['aspect_filtered_per_relation'][0]

'[3, 0, 3, 3, 3]'

In [42]:
test['rel_filtered_per_relation'][0]

"['15 minute walk  -(to)-> top', 'many choices  -(for)-> breakfast meals', 'very good  -(amod)-> base', 'ross  -(on)-> brecon', 'hay  -(on)-> wye']"

## work

In [13]:
pd.DataFrame(test.groupby(by='hotel_url')['text'].apply(list))

                                                                                                 text
hotel_url
Hotel_Review-g10006284-d1083311-Reviews-The_Reg...  [stayed here for a week in a 3-bedroom condo. ...
Hotel_Review-g10006284-d151184-Reviews-Club_Med...  [I wrote several reviews of past trips to Club...
Hotel_Review-g10006284-d151225-Reviews-Ports_of...  [Not the nicest I have stayed in but overall a...
Hotel_Review-g10006284-d151307-Reviews-The_Sand...  [We last stayed at Sands last about 5 years ag...
Hotel_Review-g10006284-d185069-Reviews-Point_Gr...  [Wow- this place is great! We stayed in an Atl...
...                                                                                               ...
Hotel_Review-g982708-d949876-Reviews-Horse_Farr...  [The H&F was recommended to us recently so we ...
Hotel_Review-g982822-d1145370-Reviews-Grand_Hot...  [The many people following my reviews will kno...
Hotel_Review-g983750-d1076574-Reviews-Holiday_I...  [We were on our way from Munich to the Rhine F...
Hotel_Review-g984178-d549678-Reviews-The_Clive-...  [Wa arrived at 2.30,to still find the restaura...
Hotel_Review-g9866748-d1646912-Reviews-Heritage...  [We decided to stay at the Heritage Collection...

[37538 rows x 1 columns]

In [18]:
df=test.sort_values('hotel_url')[['hotel_url','text']]

In [22]:
df.to_json('./review.json',orient='records')