In [37]:
import numpy as np
import pandas as pd
from nltk.tokenize import word_tokenize

In [4]:
ref_summary_path='../yelp_dataset/yelp_reference_summary.csv'
ref_summary=pd.read_csv(ref_summary_path)

In [18]:
cont=ref_summary.iloc[:,[1,2,3,4,5,6,7,8,9]]

In [29]:
stats=cont.applymap(word_tokenize).applymap(len)

In [46]:
stats['mean']=stats.iloc[:,0:7].apply(np.mean,axis=1)
stats['max']=stats.iloc[:,0:7].apply(np.max,axis=1)
stats['min']=stats.iloc[:,0:7].apply(np.min,axis=1)
stats['diff']=stats['mean']-stats['Answer.summary']

In [47]:
stats

,Input.original_review_0,Input.original_review_1,Input.original_review_2,Input.original_review_3,Input.original_review_4,Input.original_review_5,Input.original_review_6,Input.original_review_7,Answer.summary,mean,max,min,diff
0,71,46,28,60,38,43,95,38,72,54.428571,95,28,-17.571429
1,47,25,22,26,34,35,97,30,50,40.857143,97,22,-9.142857
2,98,104,58,58,70,59,58,46,60,72.142857,104,58,12.142857
3,86,38,25,75,124,34,80,80,67,66.000000,124,25,-1.000000
4,92,79,113,78,79,103,36,29,76,82.857143,113,36,6.857143
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,85,94,73,20,69,44,74,72,60,65.571429,94,20,5.571429
196,47,64,18,45,46,35,50,112,61,43.571429,64,18,-17.428571
197,28,31,54,51,85,40,27,39,39,45.142857,85,27,6.142857
198,67,52,28,58,53,21,88,60,60,52.428571,88,21,-7.571429
199,30,65,109,60,25,85,129,19,50,71.857143,129,25,21.857143

In [48]:
abs(stats['diff']).mean()

12.88857142857143

## Meansum_hotel

In [90]:
hotel_summary_path='../../outputs/eval/hotel/n_docs_8/unsup_ndoc=8_fullText/summary_first_100.csv'
hotel_doc_path='../../outputs/eval/hotel/n_docs_8/unsup_ndoc=8_fullText/reviews_first_100.csv'
hotel_summary=pd.read_csv(hotel_summary_path,index_col=0)
hotel_doc=pd.read_csv(hotel_doc_path,index_col=0)
hotel_summary=pd.concat([hotel_summary,hotel_doc],axis=1)

In [91]:
hotel_summary['docs']=hotel_summary['docs'].apply(lambda x:x.split('</DOC>'))

In [92]:
def docs_decompose(hotel_summary,num):
    hotel_summary['doc'+str(num)]=hotel_summary['docs'].apply(lambda x:x[num])
    return 0

for i in range(8):
    docs_decompose(hotel_summary,i)

hotel_summary.drop(columns=['docs'],inplace=True)

hotel_summary_stats=hotel_summary.applymap(word_tokenize).applymap(len)

In [97]:
hotel_summary_stats

    summary  doc0  doc1  doc2  doc3  doc4  doc5  doc6  doc7
0        94    95   106   151    96    65    51    74   148
1       111    69   167    74   119   140   169    96   149
2        74    74   138    46   101    90   138    90    86
3       107    42   101   162    38   101   173   138   116
4        79    41   173    56   130    58    59    44    59
..      ...   ...   ...   ...   ...   ...   ...   ...   ...
95       73   139   129   124    50   111    43    68    44
96       86    92   135    82    56   155    86   106   144
97       88    95   163   132   111   114    85    96    96
98      111    48   169   151   129    80   109    72   114
99      107   125   154   133    55   129   164    73    82

[100 rows x 9 columns]

In [99]:
hotel_summary_stats['mean']=hotel_summary_stats.iloc[:,1:8].apply(np.mean,axis=1)
hotel_summary_stats['max']=hotel_summary_stats.iloc[:,1:8].apply(np.max,axis=1)
hotel_summary_stats['min']=hotel_summary_stats.iloc[:,1:8].apply(np.min,axis=1)
hotel_summary_stats['diff']=hotel_summary_stats['mean']-hotel_summary_stats['summary']

In [100]:
hotel_summary_stats

,summary,doc0,doc1,doc2,doc3,doc4,doc5,doc6,doc7,mean,max,min,diff
0,94,95,106,151,96,65,51,74,148,91.142857,151,51,-2.857143
1,111,69,167,74,119,140,169,96,149,119.142857,169,69,8.142857
2,74,74,138,46,101,90,138,90,86,96.714286,138,46,22.714286
3,107,42,101,162,38,101,173,138,116,107.857143,173,38,0.857143
4,79,41,173,56,130,58,59,44,59,80.142857,173,41,1.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,73,139,129,124,50,111,43,68,44,94.857143,139,43,21.857143
96,86,92,135,82,56,155,86,106,144,101.714286,155,56,15.714286
97,88,95,163,132,111,114,85,96,96,113.714286,163,85,25.714286
98,111,48,169,151,129,80,109,72,114,108.285714,169,48,-2.714286
99,107,125,154,133,55,129,164,73,82,119.000000,164,55,12.000000

In [102]:
abs(hotel_summary_stats['diff']).mean()

14.960000000000003

## Meansum_hotel_mask

In [117]:
hotel_mask_summary_path='../../outputs/eval/hotel_mask/n_docs_8/unsup_hotel_mask/summaries.json'
hotel_mask_summary=pd.read_json(hotel_mask_summary_path)[['docs','summary']].head(200)
hotel_mask_summary['docs']=hotel_mask_summary['docs'].apply(lambda x:x.split('</DOC>'))

In [118]:
for i in range(8):
    docs_decompose(hotel_mask_summary,i)

In [119]:
hotel_mask_summary.drop(columns=['docs'],inplace=True)

hotel_mask_summary_stats=hotel_mask_summary.applymap(word_tokenize).applymap(len)

In [120]:
hotel_mask_summary_stats['mean']=hotel_mask_summary_stats.iloc[:,1:8].apply(np.mean,axis=1)
hotel_mask_summary_stats['max']=hotel_mask_summary_stats.iloc[:,1:8].apply(np.max,axis=1)
hotel_mask_summary_stats['min']=hotel_mask_summary_stats.iloc[:,1:8].apply(np.min,axis=1)
hotel_mask_summary_stats['diff']=hotel_mask_summary_stats['mean']-hotel_mask_summary_stats['summary']
abs(hotel_mask_summary_stats['diff']).mean()

35.14142857142858

In [130]:
hotel_mask_summary_stats.head(20)

,summary,doc0,doc1,doc2,doc3,doc4,doc5,doc6,doc7,mean,max,min,diff
0,34,57,50,86,79,101,105,30,112,72.571429,105,30,38.571429
1,10,89,66,137,61,64,118,70,39,86.428571,137,61,76.428571
2,35,40,88,57,64,55,107,47,27,65.428571,107,40,30.428571
3,52,39,33,131,51,43,84,73,135,64.857143,131,33,12.857143
4,87,134,63,133,56,74,119,70,64,92.714286,134,56,5.714286
5,103,127,135,136,120,58,86,104,98,109.428571,136,58,6.428571
6,111,55,160,125,115,157,115,83,47,115.714286,160,55,4.714286
7,91,117,131,107,139,89,111,110,55,114.857143,139,89,23.857143
8,20,84,69,134,95,60,74,94,66,87.142857,134,60,67.142857
9,14,86,136,155,106,129,73,42,75,103.857143,155,42,89.857143
10,96,89,117,61,160,133,118,126,95,114.857143,160,61,18.857143
11,27,54,35,137,78,82,53,98,148,76.714286,137,35,49.714286
12,59,56,140,36,45,48,108,152,51,83.571429,152,36,24.571429
13,66,65,131,28,77,112,77,50,108,77.142857,131,28,11.142857
14,76,35,49,150,53,102,30,143,50,80.285714,150,30,4.285714
15,74,133,142,34,27,45,56,42,136,68.428571,142,27,-5.571429
16,64,84,54,19,94,129,83,94,64,79.571429,129,19,15.571429
17,93,100,43,68,82,91,136,136,61,93.714286,136,43,0.714286
18,35,112,73,49,102,147,108,111,29,100.285714,147,49,65.285714
19,11,51,92,53,128,81,60,15,64,68.571429,128,15,57.571429

In [139]:
hotel_mask_summary.iloc[8,0]

'nestled meristanbul is a very nice hotel and great service .the staff were pleasant ; the room was fine .'